[Desktop Entry]
Name=Get Wine..
Name[ar]=احصل على واين..
Name[bg]=Вземете Wine..
Name[cs]=Získat Wine..
Name[da]=Hent Wine..
Name[de]=Wine installieren..
Name[el]=Λήψη Wine..
Name[es]=Obtener Wine..
Name[et]=Hangi Wine..
Name[fi]=Hanki Wine..
Name[fr]=Obtenir Wine..
Name[ga]=Faigh Wine..
Name[he]=התקנת Wine..
Name[hr]=Nabavi Wine..
Name[hu]=Wine beszerzése..
Name[it]=Ottieni Wine..
Name[ja]=Wine を入手..
Name[lt]=Gauti Wine..
Name[lv]=Iegūt Wine..
Name[mt]=Ikseb Wine..
Name[nl]=Wine verkrijgen..
Name[pl]=Pobierz Wine..
Name[pt]=Obter Wine..
Name[ro]=Obține Wine..
Name[ru]=Получить Wine..
Name[sk]=Získať Wine..
Name[sl]=Pridobi Wine..
Name[sv]=Hämta Wine..
Comment=Install & Configure Wine
Comment[ar]=تثبيت واين وإعداده
Comment[bg]=Инсталиране и настройване на Wine
Comment[cs]=Nainstalovat a nastavit Wine
Comment[da]=Installér og konfigurér Wine
Comment[de]=Wine installieren und einrichten
Comment[el]=Εγκατάσταση και ρύθμιση του Wine
Comment[es]=Instalar y configurar Wine
Comment[et]=Wine'i paigaldamine ja seadistamine
Comment[fi]=Asenna ja määritä Wine
Comment[fr]=Installer et configurer Wine
Comment[ga]=Suiteáil agus cumraigh Wine
Comment[he]=התקנה והגדרה של Wine
Comment[hr]=Instaliraj i konfiguriraj Wine
Comment[hu]=A Wine telepítése és beállítása
Comment[it]=Installa e configura Wine
Comment[ja]=Wine のインストールと設定
Comment[lt]=Įdiegti ir sukonfigūruoti Wine
Comment[lv]=Instalēt un konfigurēt Wine
Comment[mt]=Installa u kkonfigura Wine
Comment[nl]=Wine installeren en configureren
Comment[pl]=Zainstaluj i skonfiguruj Wine
Comment[pt]=Instalar e configurar o Wine
Comment[ro]=Instalează și configurează Wine
Comment[ru]=Установить и настроить Wine
Comment[sk]=Nainštalovať a nastaviť Wine
Comment[sl]=Namesti in nastavi Wine
Comment[sv]=Installera och konfigurera Wine
Exec=/usr/bin/getwine
Terminal=true
Icon=wine-symbolic
Type=Application
Terminal=true
Categories=System;
